body {
}

h1 {
    color: navy;
    margin-left: 20px;
}

svg.heatmap {
    width: 1100px;
    height: 650px;
    stroke: black;
    fill:none;
    stroke-width:1px;
    border:1px solid #000000;
}

.axis {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    font-family: sans-serif;
    font-size: 10px;
    font-weight:lighter;
}


text.axislabel {
    font-family: sans-serif;
    font-size: 14px;
    font-weight:lighter;
    text-transform:capitalize;
    fill: rgba(0,0,255,1);
}

.legendlabel {
    font-family: sans-serif;
    font-size: 14px;
    text-transform:capitalize;
    fill: black;
    font-weight:lighter;
}


.newlegend  {
    fill:white;
    stroke:black;
    opacity:0.5;
    stroke-width:2;
    font-size:12px;
    height:100;
    width:100;
}


text.titletext {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 20px;
    text-anchor: middle;
    //font-weight: bold;
    //stroke-width:1px;
    fill:black;
}

rect.tile {
    shape-rendering: crispEdges;
    stroke-width :0px
}